.header
  background: url('../img/header_bg.png')
  .wrapper
    text-align: center

.logo
  font-size: 0
  img
    vertical-align: bottom
  .info
    display: inline-block
    font-size: 14px
    text-transform: uppercase
    color: #fff
    padding: 0 22px

.phone
  font-size: 30px
  color: #fff
  display: inline-block
  line-height: 20px
  span
    position: relative
    display: inline-block
    font-size: 18px
    padding: 5px 5px 0 0
    &:before
      content: url('../img/phone.png')
      position: absolute
      bottom: 0
      left: -44px

.main-nav__opener
  z-index: 10
  width: 50px
  height: 50px
  margin: 6px 0
  position: relative
  cursor: pointer
  background: rgba(229,229,229,1)
  transition: .15s ease-in-out
  +breakpoint(desktop)
    display: none
  *
    transition: .15s ease-in-out
    span
      display: block
      background: #151515
      border-radius: 2px
  .hamburger
    position: absolute
    span
      width: 36px
      height: 3px
      position: relative
      top: 5px
      left: 7px
      margin: 8px 0
      &:nth-child(1)
        transition-delay: .5s
      &:nth-child(2)
        transition-delay: .625s
      &:nth-child(3)
        transition-delay: .75s
  .cross
    position: absolute
    height: 100%
    width: 100%
    transform: rotate(45deg)
    span
      &:nth-child(1)
        height: 0%
        width: 3px
        position: absolute
        top: 11%
        left: 24px
        transition-delay: 0s
      &:nth-child(2)
        width: 0%
        height: 3px
        position: absolute
        left: 11%
        top: 24px
        transition-delay: .25s

.main-nav__opener.open

  .hamburger
    span
      width: 0%
      &:nth-child(1)
        transition-delay: 0s
      &:nth-child(2)
        transition-delay: .125s
      &:nth-child(3)
        transition-delay: .25s
  .cross 
    span 
      &:nth-child(1)
        height: 80%
        transition-delay: .625s
    span 
      &:nth-child(2)
        width: 80%
        transition-delay: .375s

.main-nav
  position: relative
  .row
    background: rgba(229,229,229,1)
    ul
      padding: 0 10px
      overflow: hidden
      position: absolute
      top: 62px
      left: 0
      right: 0
      display: none
      flex-direction: column
      justify-content: center
      list-style-type: none
      background: rgba(229,229,229,1)
      z-index: 10
      li
        text-align: center
        border-bottom: 1px solid transparent
        transition: .2s
        a
          display: inline-block
          +propToRem(font-size, 18)
          color: #434343
          text-transform: uppercase
          padding: 10px 2px
        &:hover
          border-color: #c6c6c6
          a
            color: #151515
        &.active
          background: rgba(241,241,241,1)
          a
            color: #740411
      +breakpoint(desktop)
        position: static
        display: flex
        flex-direction: row
        padding: 0
        z-index: 30
        li
          border-bottom: none
          border-left: 1px solid #c6c6c6
          a
            padding: 18px
      +breakpoint(large)
        li
          a
            padding: 19px 21px

.search
  font-size: 0
  padding: 20px 10px
  &.is-active
    &>button
      display: none
    form
      input
        width: 100%
        display: block
  form
    position: relative
    height: 100%
    max-width: 650px
    margin: 0 auto
    input
      text-align: center
      padding:
        top: 0 
        bottom: 0
        right: 60px
        left: 10px
      outline: none
      height: 50px
      width: 100%
      border: none
      border-bottom: 1px solid #c2bbbc
      text-transform: uppercase
      color: #434343
      +propToRem(font-size, 18)
      transition: 1s ease display
    &>button

  button
    position: absolute
    top: 0
    right: 0
    width: 50px
    height: 50px
    background: #c6c6c6
    border: none
    border-bottom: 1px solid #c2bbbc
    cursor: pointer
    outline: none
    +breakpoint(desktop)
      height: inherit
    &:before
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto  
      background: url('../img/search.png') no-repeat center
  &>button
    display: none
  +breakpoint(desktop)
    padding: 0
    form
      position: absolute
      top: 0
      left: 0
      right: 0
      max-width: 100%
      input
        height: 100%
        width: 0
        right: -600px
        display: none
    button
      width: 100px
    &>button
      display: block
      height: 100%