@import "vars"
@import "base"
@import "grid"
@import "header"
    
.placeholder
  background: #009919
  height: 200px

.small-placeholder
  @extend .placeholder 
  height: 100px

.title
  display: inline-block
  width: 100%
  height: auto
  padding: 22px 22px 20px
  color: #fff
  text-transform: uppercase
  +propToRem(font-size, 14)
  &_main
    background: rgba(116, 3, 17, 1)
    padding: 14px 20px
    +propToRem(font-size, 18)
  &_cinnabar
    background: rgba(246, 72, 1, 1) 
  &_dark-tangerine
    background: rgba(255, 157, 15, 1)
  &_brilliant-orange-yellow
    background: rgba(255, 192, 52, 1)
  &_product
    background: rgba(84, 84, 84, .83)
    padding: 17.5px 20px
    +propToRem(line-height, 18)
  &_page
    color: #7b7b7b
    font-size: 18px
    padding: 15px 20px
    border-bottom: 1px solid #e2e2e2

.breadcrumb
  @extend .title;
  padding: 17px 20px
  background: #e2e2e2
  ul
    font-size: 0
    list-style-type: none
    li
      display: inline-block
      padding: 0 6px
      position: relative
      &:first-child
        padding-left: 0      
      &:last-child
        padding-right: 0
        &:after
          display: none
      &:after
        content: '/'
        position: absolute
        top: 0
        right: -3px
        font-size: 14px
        color: #8c8c8c
      a
        +propToRem(font-size, 14)
        color: #8c8c8c
        position: relative
        &:after
          content: ''
          position: absolute
          bottom: 0
          left: 0
          right: 0
          height: 2px
          background: #c4c4c4
        &.active
          border-color: transparent
          &:after
            display: none
 
.categories
  >ul
    font-size: 0
    list-style-type: none
    >li
      padding:
        top: 20px
        bottom: 20px
        right: 50px
        left: 25px
      position: relative
      a
        +propToRem(font-size, 14)
        line-height: 14px
        display: inline-block
        text-transform: uppercase
        color: #8c8c8c
      i
        position: absolute
        top: 25px
        right: 25px
        color: #8c8c8c
        cursor: pointer
        +propToRem(font-size, 14)
        transition: .3s
        &.active
          transform: rotate(180deg)
      &:nth-child(odd)
        background-color: #f8f8f8
      &:nth-child(even)
        background-color: #f4f3f3
      &>ul
        display: none
        li
          padding: 10px 5px

.news
  .news-post
    padding: 30px 0
    border-bottom: 1px solid $main-color
    &:first-child
      padding-top: 0
    .date
      margin-left: 2px
      font-size: 18px
      color: $main-color
      span
        color: #8c8c8c
    .text
      color: #434343
      .button
        margin-left: 5px
        color: inherit

.card
  display: flex
  flex-direction: column
  height: 100%
  padding-bottom: 30px
  .card__img
    text-align: center
    position: relative
    filter: grayscale(1)
    transition: .3s ease filter
    &:after
      content: ''
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      background: rgba(223,223,223, .6)
      transition: .3s ease background
    &:hover
      &:after
        background: rgba(223,223,223, 0)
      filter: grayscale(0)
  .card__title
    flex: 1 auto
    padding: 15px 23px
    background: #ffc034
    color: #fff
    font-size: 14px
    text-transform: uppercase
  &_yellow
    .card__title
      background: #ff9d0f
  &_orange
    .card__title
      background: #f64801

.product
  height: 100%
  display: flex
  flex-direction: column
  position: relative
  padding-bottom: 30px
  .product__img
    flex: 1 auto
    display: flex
    justify-content: center
    background: #e2e2e2
    img
      align-self: center
  .product__title
    position: absolute
    bottom: 30px
    transition: .3s ease background
  &:hover
    .product__title
      background: rgba(84, 84, 84, 1)

.footer
  background: $main-color
  .partners
    text-align: center
  ul
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
    list-style-type: none
    li
      text-align: center
      display: inline-block
      transition: .2s
      a
        +propToRem(font-size, 14)
        color: #af5b5b
        text-transform: uppercase
      &:hover
        border-color: #c6c6c6
        a
          color: #fff
      &.active
        background: rgba(241,241,241,1)
        a
          color: #740411
    +breakpoint(tablet)
        display: flex
        flex-direction: row
        padding: 0
        li
          padding: 0 5px
    

.contacts
  color: #434343
  font-size: 14px
  &>*
    padding: 15px 20px
    &:first-child
      padding-top: 0
  &>* span
    color: #9d9d9d
    margin-right: 5px
  .contacts__phone
    a
      color: inherit
  .contacts__mail
    a
      color: $main-color
      position: relative
      &:after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 1px
        background: $main-color

.map

.pagination
  ul
    display: flex
    justify-content: center
    flex-wrap: wrap
    font-size: 0
    +breakpoint(phablet)
      justify-content: flex-end
    li
      display: inline
      a
        color: #7b7b7b
        padding: 2px 6px
        text-decoration: none
        transition: .2s ease
        border: 1px solid #dcdedc
        margin: 0 1px
        +propToRem(font-size, 14)
        line-height: 23px
        &:hover:not(.active),
          background-color: #e2e2e2
        &.active
          border-color: #e4e2e4
          background-color: #f8f3f0
          font-weight: bold
        &.prev, 
        &.next
          padding: 1px 9px
          
        &.not-available
          border-color: #f8f3f0
          background-color: #fcfefc
          color: #ccced0
          &:hover
            background-color: transparent

       
      span
        padding: 2px 6px
        +propToRem(font-size, 14)

.slider
  position: relative
  ul li
    display: none
    +breakpoint(phablet)
      display: block
    .slider__text
      z-index: 1
      position: absolute
      bottom: 25%
      right: 50px
      text-align: right
      text-transform: uppercase
      color: #fff
      &.active
        span
          transform: translateX(0px)
          transition: .4s .1s transform, .4s .1s opacity
          opacity: 1
        p
          transform: translateX(0px)
          transition: .4s .2s transform, .4s .2s opacity
          opacity: 1

      span
        +propToRem(font-size, 24)
        transform: translateX(-50px)
        transition: .4s
        opacity: 0
      p
        +propToRem(font-size, 36)
        transform: translateX(-50px)
        transition: .4s
        opacity: 0
  .controls
    position: absolute
    bottom: 15px
    right: 20px
    z-index: 1
    display: none 
    +breakpoint(phablet)
      display: block
    span
      display: inline-block
      width: 14px
      height: 14px
      background: #740311
      border-radius: 50%
      cursor: pointer
      margin: 0 2px
      &.active
        background: #626262
    
