@import "vars"
@import "grid"
@import "header"

*
  margin: 0
  padding: 0px
  box-sizing: border-box

body
  line-height: 1.5
  font-family: 'Myriad Pro', sans-serif
  +propToRem(font-size, 14)

img
  max-width: 100%

a
  text-decoration: none

*::placeholder
  +propToRem(font-size, 18)
  color: #737272
  transition: .2s

*:focus
  &::placeholder
    color: transparent
    
.placeholder
  background: #009919
  height: 200px
.small-placeholder
  @extend .placeholder 
  height: 100px

.title
  display: inline-block
  width: 100%
  height: auto
  padding: 22px 22px 20px
  color: #fff
  text-transform: uppercase
  &.title_main
    background: rgba(116, 3, 17, 1) 
  &.title_cinnabar
    background: rgba(246, 72, 1, 1) 
  &.title_dark-tangerine
    background: rgba(255, 157, 15, 1)
  &.title_brilliant-orange-yellow
    background: rgba(255, 192, 52, 1)
  &.title_wet-asphalt
    background: rgba(84, 84, 84, .83)




