@import "vars"
@import "base"
@import "grid"
@import "header"
    
.placeholder
  background: #009919
  height: 200px
.small-placeholder
  @extend .placeholder 
  height: 100px

.title
  display: inline-block
  width: 100%
  height: auto
  padding: 22px 22px 20px
  color: #fff
  text-transform: uppercase
  &.title_main
    background: rgba(116, 3, 17, 1) 
  &.title_cinnabar
    background: rgba(246, 72, 1, 1) 
  &.title_dark-tangerine
    background: rgba(255, 157, 15, 1)
  &.title_brilliant-orange-yellow
    background: rgba(255, 192, 52, 1)
  &.title_wet-asphalt
    background: rgba(84, 84, 84, .83)

.categories
  +breakpoint(phablet)


.news
  +breakpoint(phablet)




