doctype html
html(lang="uk")
  head
    include includes/head.pug
  body
    include includes/header.pug
    
    .wrapper
      .row
        .col.col-desktop-1-4
          .placeholder.m-b-30
          .placeholder.m-b-30
        .col.col-desktop-3-4
          .placeholder(style="height: 555px").m-b-30

    include includes/footer.pug
